/* .home-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    padding: 10px 20px;
    background-color: #4200b4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #3a0099;
} */
/* Home.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 30px;
    color: #333;
}

.button-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 30%;
    margin-top: 20px;
}

.button-group button {
    background-color: #ffcc00;
    color: #333;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button-group button:hover {
    background-color: #333;
    color: #fff;
}

.button-group button:last-child {
    margin-top: 20px;
    background-color: #cc0000;
    color: white;
}

.button-group button:last-child:hover {
    background-color: #fff;
    color: #cc0000;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.search-container input {
    padding: 10px;
    font-size: 1.2em;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-container button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-container button:hover {
    background-color: #0056b3;
}

.search-result {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    text-align: left;
}

.search-result p {
    margin: 5px 0;
}

.message {
    color: #cc0000;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .button-group {
        flex-direction: column;
        align-items: center;
    }

    .search-container input, .search-container button, .search-result {
        width: 90%;
    }
}